@model MyFirstASP_Application.Models.Person

<div class = "text-center">
	<form asp-action="PeopleForm">
		<div asp-validation-summary="All" style ="font-size:23 px">
			<input hidden class = "form-control" type = "number" placeholder = "0" asp-for="id"/>
			<label class = "mt-4">First Name</label>
			<input class = "form-control" type = "text" placeholder = "First Name" asp-for="firstName"/>
			<button class = "submit">Okay</button>
		</div>
	</form>
</div>
